body{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
}

/* header */

.navbar{

    background-color: #657889;
    height:130px;
}

.navbar li{

    padding: 5px !important;
   
}

.navbar li button {

    background-color: #4f5b67;
   
}

.navbar li button a{

    color: white !important;
    text-decoration: none;
    padding: 5px !important;
   
}

/* slider */

.slider img{

    height: 400px !important;

}

/* headlines */

.headline{

    margin-top: -25% !important;
    z-index: 1;
    position: absolute;
}

.headline h1{

    margin-left: 25% !important;
    font-size: 55px;
    color: white;
}

.headline h2{

    margin-left: 30% !important;
    font-size: 54px;
    color: white;
}

.headline p{

    margin-left: 30% !important;
    color: white;
}

/* footer */

footer{
    height: 70px;
    width: 80%;
    background-color: #4f5b67;
}
